In [3]:
# 1. INTEGER

# Integer (All positive and negative values without decimal are integer)
# To find the data type in Python is used type().

value_1 = 40
value_2 = -40
value_3 = 0

print(value_1, value_2, value_3)

# Use type to find the data type. 
print(type(value_1))
print(type(value_2))
print(type(value_3))

40 -40 0
<class 'int'>
<class 'int'>
<class 'int'>

In [4]:
# 2. STRING

# String in Python is text type data. 
# String is written in Python using single quote(''), double quotes("") and triple quotes('''''')

name = 'Umar Hayat Khan Lodhi'
print(name)
print(type(name))

name = "Umar Hayat Khan Lodhi"
print(name)
print(type(name))

name = '''Umar Hayat Khan Lodhi'''
print(name)
print(type(name))

Umar Hayat Khan Lodhi
<class 'str'>
Umar Hayat Khan Lodhi
<class 'str'>
Umar Hayat Khan Lodhi
<class 'str'>

In [5]:
# 3. FLOATING
# Floating data type in Python is integer value with decimal like price 59.99

price = 49.99
print(price)
print(type(price))

49.99
<class 'float'>

In [6]:
# 4. BOOLEAN
# True and False are Boolean value. (True and False should be started with capital character)

condition_1 = True
condition_2 = False

print(condition_1)
print(type(condition_1))

print(condition_2)
print(type(condition_2))

# A use of Boolean Datatype. 
a = 25
b = 30
print(b > a)

True
<class 'bool'>
False
<class 'bool'>
True

In [7]:
# 5. None
# None datatype is use when do not want to store a value in a variable. 

a = None
print(a)
print(type(a))

None
<class 'NoneType'>