**Dictionary**

In [16]:
# Dictionary

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

print(my_dict)

{'name': 'Kashif', 'subject': 'English', 'passing_marks': 40}

In [17]:
# Can stored new key value pair.

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

my_dict["percentage"] = "40%"

print(my_dict)

{'name': 'Kashif', 'subject': 'English', 'passing_marks': 40, 'percentage': '40%'}

In [18]:
# We can also store list or tuple data type in dictionary.

# List Data
list_itms = {
    "fruits" : ["Banana", "Mango", "Orange"],
    "mlik shakes" : ["Mango Shake", "Banana Shake, Straberry Shake"]
    }
print(type(list_itms["fruits"]))
print(list_itms)


# Tuple Data
list_itms = {
    "fruits" : ("Banana", "Mango", "Orange"),
    "mlik shakes" : ("Mango Shake", "Banana Shake", "Straberry Shake")
    }

print(type(list_itms["fruits"]))
print(list_itms)

<class 'list'>
{'fruits': ['Banana', 'Mango', 'Orange'], 'mlik shakes': ['Mango Shake', 'Banana Shake, Straberry Shake']}
<class 'tuple'>
{'fruits': ('Banana', 'Mango', 'Orange'), 'mlik shakes': ('Mango Shake', 'Banana Shake', 'Straberry Shake')}

In [19]:
# Accessing Values
# We use the key to access its value.

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

print(my_dict["name"])
print(my_dict["subject"])
print(my_dict["passing_marks"])

# to access any key value .get() fuction returns it.
my_dict.get("name")

Kashif
English
40

'Kashif'

In [20]:
# New key value can be changed.

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

my_dict["name"] = "Nasir"
print(my_dict)

{'name': 'Nasir', 'subject': 'English', 'passing_marks': 40}

In [21]:
# Data can be appended (a single string) in dictionary if key value is a list.
list_itms = {
    "fruits" : ["Banana", "Mango", "Orange"],
    "mlik shakes" : ["Mango Shake", "Banana Shake", "Straberry Shake"]
    }

more_itms = "Black Barry"
list_itms["fruits"].append(more_itms)
print(list_itms)


# Data can be extend (a list) in dictionary if key value is a list.
list_itms = {
    "fruits" : ["Banana", "Mango", "Orange"],
    "mlik shakes" : ["Mango Shake", "Banana Shake", "Straberry Shake"]
    }

more_itms = ["Black Barry", "Blue Barry"]
list_itms["fruits"].extend(more_itms)
print(list_itms)

{'fruits': ['Banana', 'Mango', 'Orange', 'Black Barry'], 'mlik shakes': ['Mango Shake', 'Banana Shake', 'Straberry Shake']}
{'fruits': ['Banana', 'Mango', 'Orange', 'Black Barry', 'Blue Barry'], 'mlik shakes': ['Mango Shake', 'Banana Shake', 'Straberry Shake']}

In [22]:
# We can store nested dictionary

result_sheet = {
    "name_student" : ["Kashif", "Asif", "Mehmood", "Jibran"],
    # In a key a new dictionary can be stored.
    "Marks" : {
        "English" : 100,
        "Maths" : 100,
        "Physics" : 100,
        "Biology": 100,
        "Sindhi" : 75
    }

}

print(result_sheet["Marks"]["English"])
result_sheet["Marks"]["English"] = 75
print(result_sheet["Marks"])

100
{'English': 75, 'Maths': 100, 'Physics': 100, 'Biology': 100, 'Sindhi': 75}

In [23]:
# While using copy() method, the dictionary‚Äôs ID will be different, but the inner list‚Äôs ID will be the same.

list_items = {
    "fruits" : ["Banana", "Mango", "Orange"],
    "mlik shakes" : ["Mango Shake", "Banana Shake", "Straberry Shake"]
    }

list_items1 = list_items
print(list_items1)

list_items2 = list_items.copy()
print(list_items2)

print(id(list_items1))
print(id(list_items2))

{'fruits': ['Banana', 'Mango', 'Orange'], 'mlik shakes': ['Mango Shake', 'Banana Shake', 'Straberry Shake']}
{'fruits': ['Banana', 'Mango', 'Orange'], 'mlik shakes': ['Mango Shake', 'Banana Shake', 'Straberry Shake']}
140114991692544
140115257255616

**Set**

In [24]:
# Set

set_1 = {1, 2, 1, 2} # repeated elements stored only once, so it resolved {1, 2}
print(set_1, type(set_1))

{1, 2} <class 'set'>

In [25]:
# We can create an empty set.

empty_set = set() # make empty set use set().
print(empty_set)

student_name = "Kashif" # This is an string
students_name = ("Sajid", "Asif", "Mehmood") # This is a tuple.

empty_set.add(student_name)
print(empty_set, type(empty_set))

empty_set.add(students_name)
print(empty_set, type(empty_set))

set()
{'Kashif'} <class 'set'>
{'Kashif', ('Sajid', 'Asif', 'Mehmood')} <class 'set'>

# Practice Questions (Random)

In [26]:
# Question No. 01

# Store following words meanings in python dictionary.
# table : "a piece of furniture", "list of facts & figures"
# cat: "a small animal"

dictionary = {
    "table" : ["a piece of furniture", "list of facts & figures"],
    "cat" : "a small animal"
}

print(dictionary)

{'table': ['a piece of furniture', 'list of facts & figures'], 'cat': 'a small animal'}

In [27]:
# Question No. 02

# You are given a list of subjects. Asume one classroom is required for 1
# subject. How many classrooms are needed by all students.
# "python", "java", "C++", "python", "javascript", "java", "python", "java", "C", "C++"

list_subject = {"python", "java", "C++", "python", "javascript", "java", "python", "java", "C", "C++"}
print("Classes Required", len(list_subject))

Classes Required 5

In [28]:
# Question No. 03
# Solution 1

# 1. Write a program to enter marks of 3 subjects from the user and
# store them in a dictionary. Start with an empty dictionary & add one by one.
# Use subject name as key & marks as value.

dictionary = {}

# Three Subjects
marks_subject_1 = int(input("Please enter marks for subject 1: "))
marks_subject_2 = int(input("Please enter marks for subject 2: "))
marks_subject_3 = int(input("Please enter marks for subject 3: "))

# Data to store in dicaionary
dictionary["English"] = marks_subject_1
dictionary["Urdu"] = marks_subject_2
dictionary["Maths"] = marks_subject_3

print(dictionary)

{'English': 50, 'Urdu': 30, 'Maths': 80}

In [29]:
# Question No. 03
# Solution # 2 (Use of dict.update() method)

mark_sheet = {}

sub1 = int(input("English: int"))
mark_sheet.update({"English": sub1})

sub2 = int(input("Maths: "))
mark_sheet.update({"Maths": sub2})

sub3 = int(input("Urdu: "))
mark_sheet.update({"Urdu": sub3})
print(mark_sheet)

{'English': 90, 'Maths': 40, 'Urdu': 60}

In [30]:
# Question No. 03

# Solution # 3 (Use of dict.update() method)

mark_sheet = {}

mark_sheet.update({"English": int(input("English: "))})
mark_sheet.update({"Maths": int(input("Maths: "))})
mark_sheet.update({"Urdu": int(input("Urdu: "))})
print(mark_sheet)

{'English': 40, 'Maths': 90, 'Urdu': 40}

In [31]:
# Question No. 04
# Figure out a way to store 9 & 9.0 as separate values in the set.
#(You can take help of built-in data type)

# Solution # 1
data = {("int", 9), ("float", 9.0)}
print(data)

# Solution # 2
data = {9, "9.0"}
print(data)

{('int', 9), ('float', 9.0)}
{9, '9.0'}

# **Practice Qeustions**
üîπ LIST Practice Questions (Without Loops) \
1Ô∏è‚É£ Basic Operations

- Create a list of 5 numbers and print the first and last element.
- Replace the third element of a list with 100.
- Add a new element at the end of the list.
- Insert an element at index 2.
- Remove the last element using a method.

In [32]:
list_numbers = [1,2,3,4,5]
print(list_numbers[0:6:4])

[1, 5]

In [33]:
# Replace the third element of a list with 100.
# list.insert(index, element) to adds a value on specific index.

list_numbers = [1,2,3,4,5]
list_numbers.insert(2,100)
print(list_numbers)

[1, 2, 100, 3, 4, 5]

In [34]:
# Add a new element at the end of the list.

list_numbers = [1,2,3,4,5]
list_numbers.append(6)
print(list_numbers)

[1, 2, 3, 4, 5, 6]

In [35]:
# Insert an element at index 2.

list_numbers = [1,2,3,4,5]
list_numbers.insert(1, 0)
print(list_numbers)

[1, 0, 2, 3, 4, 5]

In [36]:
# Remove the last element using a method.

list_numbers = [1,2,3,4,5]
list_numbers.pop(4)
print(list_numbers)

[1, 2, 3, 4]

2Ô∏è‚É£ Slicing

- Print the first 3 elements of a list.
- Print the last 2 elements.
- Reverse a list using slicing only.

In [37]:
# Print the first 3 elements of a list.

list_numbers = [1,2,3,4,5]
print(list_numbers[0:3])

[1, 2, 3]

In [38]:
# Print the last 2 elements.

list_numbers = [1,2,3,4,5]
print(list_numbers[3:6:1])

[4, 5]

In [39]:
# Reverse a list using slicing only.

list_numbers = [1,2,3,4,5]
list_numbers[-1::-1]

[5, 4, 3, 2, 1]

3Ô∏è‚É£ Built-in Functions

- Find the maximum number in a list.
- Find the sum of all elements.
- Count how many times 10 appears in a list.

In [40]:
# Find the maximum number in a list.
# max() is a builtin funcation in python.

list_numbers = max([1,2,3,4,5])
print(list_numbers)

5

In [41]:
# Find the sum of all elements.

list_numbers = sum([1,2,3,4,5])
print(list_numbers)

15

In [42]:
# Count how many times 10 appears in a list.

list_numbers = [1,2,3,4,5,5,5]
list_numbers.count(5)

3

üîπ LIST Practice Questions (Without Loops) \
4Ô∏è‚É£ Logical Tasks

- Check if a number exists in a list.
- Concatenate two lists.
- Make a copy of a list and print both memory IDs using id().

In [43]:
# Check if a number exists in a list.

list_numbers = [1,2,3,4,5]
find_number = int(input("Please enter a number to find: "))

if find_number in list_numbers:
  print("Found")
else:
  print("Not Found")

Not Found

In [44]:
# Concatenate two lists.

list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]

list_3 = list_1 + list_2
print(list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
# Make a copy of a list and print both memory IDs using id().

list_1 = [1,2,3,4,5]
list_2 = list_1.copy()

print(id(list_1))
print(id(list_2))

140114989809472
140114990003648

üîπ TUPLE Practice Questions (Without Loops) \
1Ô∏è‚É£ Basics

- Create a tuple of 5 numbers and print the second element.
- Find the length of a tuple.
- Count how many times a value appears in a tuple.
- Find the index of a specific value.

In [46]:
# Create a tuple of 5 numbers and print the second element.

number_tuple = (1,2,3,4,5)
print("Second Element of Tuple is:", number_tuple[1])

Second Element of Tuple is: 2

In [47]:
# Find the length of a tuple.

number_tuple = (1,2,3,4,5)
print("Length of Tuple is:", len(number_tuple))

Length of Tuple is: 5

In [48]:
# Count how many times a value appears in a tuple.

number_tuple = (1,2,3,4,5,5,5)
number_tuple.count(5)

3

In [49]:
# Find the index of a specific value.

number_tuple = (1,2,3,4,5)
number_tuple.index(5)

4

2Ô∏è‚É£ Tuple Operations
- Convert a tuple into a list.
- Convert a list into a tuple.
- Concatenate two tuples.
- Slice a tuple to get the first 3 elements.

In [50]:
# Convert a tuple into a list.

number_tuple = list((1,2,3,4,5))
print(type(number_tuple))

<class 'list'>

In [51]:
# Convert a list into a tuple.

number_list = tuple([1,2,3,4,5])
print(type(number_list))

<class 'tuple'>

In [52]:
# Concatenate two tuples.

tuple_1 = (1,2,3,4,5)
tuple_2 = (6,7,8,9,10)
print(tuple_1 + tuple_2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [53]:
# Slice a tuple to get the first 3 elements.

number_tuple = (1,2,3,4,5)
print(number_tuple[0:3:1])

(1, 2, 3)

üîπ DICTIONARY Practice Questions (Without Loops) \
1Ô∏è‚É£ Basic Dictionary

- Create a dictionary with 3 subjects and marks.
- Access the marks of ‚ÄúMath‚Äù.
- Add a new subject with marks.
- Update the marks of an existing subject.
- Remove a key using pop().

In [54]:
# Create a dictionary with 3 subjects and marks.

dict = {
    "English" :30,
    "Urdu" : 40,
    "Maths" : 80
}

print(dict, type(dict))

{'English': 30, 'Urdu': 40, 'Maths': 80} <class 'dict'>

In [55]:
# Add a new subject with marks.

dict = {
    "English" :30,
    "Urdu" : 40,
    "Maths" : 80
}

dict.update({"Science" : 75})
print(dict)

{'English': 30, 'Urdu': 40, 'Maths': 80, 'Science': 75}

In [56]:
# Update the marks of an existing subject.

dict = {
    "English" :30,
    "Urdu" : 40,
    "Maths" : 80
}

dict["English"] = 89
print(dict)

{'English': 89, 'Urdu': 40, 'Maths': 80}

In [57]:
# Remove a key using pop().

dict = {
    "English" :30,
    "Urdu" : 40,
    "Maths" : 80
}

dict.pop("Urdu")
print(dict)

{'English': 30, 'Maths': 80}