**Dictionary**

In [50]:
# Dictionary

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

print(my_dict)

{'name': 'Kashif', 'subject': 'English', 'passing_marks': 40}

In [51]:
# Can stored new key value pair.

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

my_dict["percentage"] = "40%"

print(my_dict)

{'name': 'Kashif', 'subject': 'English', 'passing_marks': 40, 'percentage': '40%'}

In [52]:
# We can also store list or tuple data type in dictionary.

# List Data
list_itms = {
    "fruits" : ["Banana", "Mango", "Orange"],
    "mlik shakes" : ["Mango Shake", "Banana Shake, Straberry Shake"]
    }
print(type(list_itms["fruits"]))
print(list_itms)


# Tuple Data
list_itms = {
    "fruits" : ("Banana", "Mango", "Orange"),
    "mlik shakes" : ("Mango Shake", "Banana Shake", "Straberry Shake")
    }

print(type(list_itms["fruits"]))
print(list_itms)

<class 'list'>
{'fruits': ['Banana', 'Mango', 'Orange'], 'mlik shakes': ['Mango Shake', 'Banana Shake, Straberry Shake']}
<class 'tuple'>
{'fruits': ('Banana', 'Mango', 'Orange'), 'mlik shakes': ('Mango Shake', 'Banana Shake', 'Straberry Shake')}

In [53]:
# Accessing Values
# We use the key to access its value.

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

print(my_dict["name"])
print(my_dict["subject"])
print(my_dict["passing_marks"])

# to access any key value .get() fuction returns it.
my_dict.get("name")

Kashif
English
40

'Kashif'

In [54]:
# New key value can be changed.

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

my_dict["name"] = "Nasir"
print(my_dict)

{'name': 'Nasir', 'subject': 'English', 'passing_marks': 40}

In [55]:
# Data can be appended (a single string) in dictionary if key value is a list.
list_itms = {
    "fruits" : ["Banana", "Mango", "Orange"],
    "mlik shakes" : ["Mango Shake", "Banana Shake", "Straberry Shake"]
    }

more_itms = "Black Barry"
list_itms["fruits"].append(more_itms)
print(list_itms)


# Data can be extend (a list) in dictionary if key value is a list.
list_itms = {
    "fruits" : ["Banana", "Mango", "Orange"],
    "mlik shakes" : ["Mango Shake", "Banana Shake", "Straberry Shake"]
    }

more_itms = ["Black Barry", "Blue Barry"]
list_itms["fruits"].extend(more_itms)
print(list_itms)

{'fruits': ['Banana', 'Mango', 'Orange', 'Black Barry'], 'mlik shakes': ['Mango Shake', 'Banana Shake', 'Straberry Shake']}
{'fruits': ['Banana', 'Mango', 'Orange', 'Black Barry', 'Blue Barry'], 'mlik shakes': ['Mango Shake', 'Banana Shake', 'Straberry Shake']}

In [56]:
# We can store nested dictionary

result_sheet = {
    "name_student" : ["Kashif", "Asif", "Mehmood", "Jibran"],
    # In a key a new dictionary can be stored.
    "Marks" : {
        "English" : 100,
        "Maths" : 100,
        "Physics" : 100,
        "Biology": 100,
        "Sindhi" : 75
    }

}

print(result_sheet["Marks"]["English"])
result_sheet["Marks"]["English"] = 75
print(result_sheet["Marks"])

100
{'English': 75, 'Maths': 100, 'Physics': 100, 'Biology': 100, 'Sindhi': 75}

In [57]:
# While using copy() method, the dictionary‚Äôs ID will be different, but the inner list‚Äôs ID will be the same.

list_items = {
    "fruits" : ["Banana", "Mango", "Orange"],
    "mlik shakes" : ["Mango Shake", "Banana Shake", "Straberry Shake"]
    }

list_items1 = list_items
print(list_items1)

list_items2 = list_items.copy()
print(list_items2)

print(id(list_items1))
print(id(list_items2))

{'fruits': ['Banana', 'Mango', 'Orange'], 'mlik shakes': ['Mango Shake', 'Banana Shake', 'Straberry Shake']}
{'fruits': ['Banana', 'Mango', 'Orange'], 'mlik shakes': ['Mango Shake', 'Banana Shake', 'Straberry Shake']}
134788301180032
134788593868736

**Set**

In [58]:
# Set

set_1 = {1, 2, 1, 2} # repeated elements stored only once, so it resolved {1, 2}
print(set_1, type(set_1))

{1, 2} <class 'set'>

In [59]:
# We can create an empty set.

empty_set = set() # make empty set use set().
print(empty_set)

student_name = "Kashif" # This is an string
students_name = ("Sajid", "Asif", "Mehmood") # This is a tuple.

empty_set.add(student_name)
print(empty_set, type(empty_set))

empty_set.add(students_name)
print(empty_set, type(empty_set))

set()
{'Kashif'} <class 'set'>
{'Kashif', ('Sajid', 'Asif', 'Mehmood')} <class 'set'>

# Practice Questions (Random)

In [60]:
# Question No. 01

# Store following words meanings in python dictionary.
# table : "a piece of furniture", "list of facts & figures"
# cat: "a small animal"

dictionary = {
    "table" : ["a piece of furniture", "list of facts & figures"],
    "cat" : "a small animal"
}

print(dictionary)

{'table': ['a piece of furniture', 'list of facts & figures'], 'cat': 'a small animal'}

In [61]:
# Question No. 02

# You are given a list of subjects. Asume one classroom is required for 1
# subject. How many classrooms are needed by all students.
# "python", "java", "C++", "python", "javascript", "java", "python", "java", "C", "C++"

list_subject = {"python", "java", "C++", "python", "javascript", "java", "python", "java", "C", "C++"}
print("Classes Required", len(list_subject))

Classes Required 5

In [ ]:
# Question No. 03
# Solution 1

# 1. Write a program to enter marks of 3 subjects from the user and
# store them in a dictionary. Start with an empty dictionary & add one by one.
# Use subject name as key & marks as value.

dictionary = {}

# Three Subjects
marks_subject_1 = int(input("Please enter marks for subject 1: "))
marks_subject_2 = int(input("Please enter marks for subject 2: "))
marks_subject_3 = int(input("Please enter marks for subject 3: "))

# Data to store in dictionary
dictionary["English"] = marks_subject_1
dictionary["Urdu"] = marks_subject_2
dictionary["Maths"] = marks_subject_3

print(dictionary)

{'English': 23, 'Urdu': 23, 'Maths': 23}

In [ ]:
# Question No. 03
# Solution # 2 (Use of dict.update() method)

mark_sheet = {}

sub1 = int(input("English: "))
mark_sheet.update({"English": sub1})

sub2 = int(input("Maths: "))
mark_sheet.update({"Maths": sub2})

sub3 = int(input("Urdu: "))
mark_sheet.update({"Urdu": sub3})
print(mark_sheet)

{'English': 23, 'Maths': 23, 'Urdu': 23}

In [64]:
# Question No. 03

# Solution # 3 (Use of dict.update() method)

mark_sheet = {}

mark_sheet.update({"English": int(input("English: "))})
mark_sheet.update({"Maths": int(input("Maths: "))})
mark_sheet.update({"Urdu": int(input("Urdu: "))})
print(mark_sheet)

{'English': 23, 'Maths': 23, 'Urdu': 23}

In [65]:
# Question No. 04
# Figure out a way to store 9 & 9.0 as separate values in the set.
#(You can take help of built-in data type)

# Solution # 1
data = {("int", 9), ("float", 9.0)}
print(data)

# Solution # 2
data = {9, "9.0"}
print(data)

{('float', 9.0), ('int', 9)}
{9, '9.0'}

# **Practice Qeustions**
üîπ LIST Practice Questions (Without Loops) \
1Ô∏è‚É£ Basic Operations

- Create a list of 5 numbers and print the first and last element.
- Replace the third element of a list with 100.
- Add a new element at the end of the list.
- Insert an element at index 2.
- Remove the last element using a method.

In [66]:
list_numbers = [1,2,3,4,5]
print(list_numbers[0:6:4])

[1, 5]

In [67]:
# Replace the third element of a list with 100.
# list.insert(index, element) to adds a value on specific index.

list_numbers = [1,2,3,4,5]
list_numbers.insert(2,100)
print(list_numbers)

[1, 2, 100, 3, 4, 5]

In [68]:
# Add a new element at the end of the list.

list_numbers = [1,2,3,4,5]
list_numbers.append(6)
print(list_numbers)

[1, 2, 3, 4, 5, 6]

In [69]:
# Insert an element at index 2.

list_numbers = [1,2,3,4,5]
list_numbers.insert(1, 0)
print(list_numbers)

[1, 0, 2, 3, 4, 5]

In [70]:
# Remove the last element using a method.

list_numbers = [1,2,3,4,5]
list_numbers.pop(4)
print(list_numbers)

[1, 2, 3, 4]

2Ô∏è‚É£ Slicing

- Print the first 3 elements of a list.
- Print the last 2 elements.
- Reverse a list using slicing only.

In [71]:
# Print the first 3 elements of a list.

list_numbers = [1,2,3,4,5]
print(list_numbers[0:3])

[1, 2, 3]

In [72]:
# Print the last 2 elements.

list_numbers = [1,2,3,4,5]
print(list_numbers[3:6:1])

[4, 5]

In [73]:
# Reverse a list using slicing only.

list_numbers = [1,2,3,4,5]
list_numbers[-1::-1]

[5, 4, 3, 2, 1]

3Ô∏è‚É£ Built-in Functions

- Find the maximum number in a list.
- Find the sum of all elements.
- Count how many times 10 appears in a list.

In [74]:
# Find the maximum number in a list.
# max() is a builtin funcation in python.

list_numbers = max([1,2,3,4,5])
print(list_numbers)

5

In [75]:
# Find the sum of all elements.

list_numbers = sum([1,2,3,4,5])
print(list_numbers)

15

In [76]:
# Count how many times 10 appears in a list.

list_numbers = [1,2,3,4,5,5,5]
list_numbers.count(5)

3

üîπ LIST Practice Questions (Without Loops) \
4Ô∏è‚É£ Logical Tasks

- Check if a number exists in a list.
- Concatenate two lists.
- Make a copy of a list and print both memory IDs using id().

In [77]:
# Check if a number exists in a list.

list_numbers = [1,2,3,4,5]
find_number = int(input("Please enter a number to find: "))

if find_number in list_numbers:
  print("Found")
else:
  print("Not Found")

Found

In [78]:
# Concatenate two lists.

list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]

list_3 = list_1 + list_2
print(list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
# Make a copy of a list and print both memory IDs using id().

list_1 = [1,2,3,4,5]
list_2 = list_1.copy()

print(id(list_1))
print(id(list_2))

134788301637440
134788301538432

üîπ TUPLE Practice Questions (Without Loops) \
1Ô∏è‚É£ Basics

- Create a tuple of 5 numbers and print the second element.
- Find the length of a tuple.
- Count how many times a value appears in a tuple.
- Find the index of a specific value.

In [80]:
# Create a tuple of 5 numbers and print the second element.

number_tuple = (1,2,3,4,5)
print("Second Element of Tuple is:", number_tuple[1])

Second Element of Tuple is: 2

In [81]:
# Find the length of a tuple.

number_tuple = (1,2,3,4,5)
print("Length of Tuple is:", len(number_tuple))

Length of Tuple is: 5

In [82]:
# Count how many times a value appears in a tuple.

number_tuple = (1,2,3,4,5,5,5)
number_tuple.count(5)

3

In [83]:
# Find the index of a specific value.

number_tuple = (1,2,3,4,5)
number_tuple.index(5)

4

2Ô∏è‚É£ Tuple Operations
- Convert a tuple into a list.
- Convert a list into a tuple.
- Concatenate two tuples.
- Slice a tuple to get the first 3 elements.

In [84]:
# Convert a tuple into a list.

number_tuple = list((1,2,3,4,5))
print(type(number_tuple))

<class 'list'>

In [85]:
# Convert a list into a tuple.

number_list = tuple([1,2,3,4,5])
print(type(number_list))

<class 'tuple'>

In [86]:
# Concatenate two tuples.

tuple_1 = (1,2,3,4,5)
tuple_2 = (6,7,8,9,10)
print(tuple_1 + tuple_2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [87]:
# Slice a tuple to get the first 3 elements.

number_tuple = (1,2,3,4,5)
print(number_tuple[0:3:1])

(1, 2, 3)

üîπ DICTIONARY Practice Questions (Without Loops) \
1Ô∏è‚É£ Basic Dictionary

- Create a dictionary with 3 subjects and marks.
- Access the marks of ‚ÄúMath‚Äù.
- Add a new subject with marks.
- Update the marks of an existing subject.
- Remove a key using pop().

In [88]:
# Create a dictionary with 3 subjects and marks.

dict = {
    "English" :30,
    "Urdu" : 40,
    "Maths" : 80
}

print(dict, type(dict))

{'English': 30, 'Urdu': 40, 'Maths': 80} <class 'dict'>

In [89]:
# Add a new subject with marks.

dict = {
    "English" :30,
    "Urdu" : 40,
    "Maths" : 80
}

dict.update({"Science" : 75})
print(dict)

{'English': 30, 'Urdu': 40, 'Maths': 80, 'Science': 75}

In [90]:
# Update the marks of an existing subject.

dict = {
    "English" :30,
    "Urdu" : 40,
    "Maths" : 80
}

dict["English"] = 89
print(dict)

{'English': 89, 'Urdu': 40, 'Maths': 80}

In [91]:
# Remove a key using pop().

dict = {
    "English" :30,
    "Urdu" : 40,
    "Maths" : 80
}

dict.pop("Urdu")
print(dict)

{'English': 30, 'Maths': 80}

# Practice Qeustions
üîπ DICTIONARY Practice Questions (Without Loops) \
2Ô∏è‚É£ Dictionary Methods

- Get all keys of a dictionary.
- Get all values.
- Convert dictionary keys into a list.
- Check if a key exists in a dictionary.
- Create a dictionary using fromkeys() method.

In [92]:
# Get all keys of a dictionary.
my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

dict_kyes = my_dict.keys()
print(dict_kyes)

dict_keys(['name', 'subject', 'passing_marks'])

In [93]:
# Get all values.

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

dict_keys = my_dict.values()
print(dict_keys)

dict_values(['Kashif', 'English', 40])

In [94]:
# Convert dictionary keys into a list.

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

keys_list = list(my_dict.keys())
print(type(keys_list))

<class 'list'>

In [95]:
# Check if a key exists in a dictionary.
# Solution No. 01 (Use of If)

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

if "name" in my_dict:
  print(True)
else:
  print(False)

True

In [96]:
# Check if a key exists in a dictionary.
# Solution No. 02 (Use of keys() )

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

print("name" in my_dict.keys())

True

In [97]:
# Check if a key exists in a dictionary.
# Solution No. 03 (Use of get() )

my_dict = {
    "name" : "Kashif",
    "subject" : "English",
    "passing_marks" : 40
}

print("name:", my_dict.get("name")) # get() return key saftely if found without error.

name: Kashif

In [98]:
# Create a dictionary using fromkeys() method.
# dict.fromkeys(keys, value) Only one value and update later separately.

orders_list = ["order1", "order2", "order3", "order4"]

pending_orders = dict.fromkeys(orders_list, "Pending")
pending_orders["order2"] = "Cofirm"
print(pending_orders)

{'order1': 'Pending', 'order2': 'Cofirm', 'order3': 'Pending', 'order4': 'Pending'}

üîπ SET Practice Questions (Without Loops) \
1Ô∏è‚É£ Basic Operations

- Create a set of 5 numbers.
- Add a new element.
- Remove an element.
- Check if a number exists in a set.

In [99]:
# Create a set of 5 numbers.

set_data = {1,2,3,4,5}
print(type(set_data))

<class 'set'>

In [100]:
# Add a new element.

set_data = {1,2,3,4,5}
set_data.add(6)
print(set_data)

{1, 2, 3, 4, 5, 6}

In [101]:
# Remove an element.

set_data = {1,2,3,4,5}
set_data.remove(5)
print(set_data)

{1, 2, 3, 4}

In [102]:
# Check if a number exists in a set.

sutdent_dataset = {"Yasir", "Naisr", "Ahmed", "Mehmood"}
print("Mehmood" in sutdent_dataset)

True

üîπ SET Practice Questions (Without Loops) \
2Ô∏è‚É£ Set Operations

- Find union of two sets.
- Find intersection.
- Find difference.
- Find symmetric difference.

In [103]:
# Find union of two sets.

data_set1 = {1,2,3,4}
data_set2 = {5,6,7,8}

data_set1.union(data_set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [104]:
# Find intersection.

data_set1 = {1,2,3,4,5}
data_set2 = {5,6,7,8,9}

data_set1.intersection(data_set2)

{5}

In [105]:
# Find difference.

data_set1 = {1,2,3,4,5,6,7,8,9}
data_set2 = {5,6,7,8,9,10,11,12}

data_set1.difference(data_set2,data_set1)

set()

üî• Bonus Challenge (Without Loops)

- Remove duplicates from a list using set.
- Convert list ‚Üí tuple ‚Üí set.
- Create a dictionary from two lists using dict(zip()).
- Merge two dictionaries (without loops).
- Create a set from a string and print unique characters.

In [106]:
# Remove duplicates from a list using set.

data_set = [1,2,3,4,5,6,7,8,9,5,6,7,8,9,10,11,12]
print(set(data_set))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [107]:
# Convert list ‚Üí tuple ‚Üí set.

data_set = [1,2,3,4,5,6,7,8,9,5,6,7,8,9,10,11,12]

print(type(data_set))
print(type(tuple(data_set)))
print(type(set(data_set)))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [1]:
# - Create a dictionary from two lists using dict(zip()).
subject_list = ["English","Urdu","Maths"]
marks = [50,65,80]

my_dict = dict(zip(subject_list, marks))
print(my_dict)

{'English': 50, 'Urdu': 65, 'Maths': 80}

In [ ]:
# Create a set from a string and print unique characters.

students_name = "SajidAhmedSajidMehmood"
unique_char = set(students_name)
print(unique_char)

{'o', 'M', 'S', 'h', 'i', 'd', 'm', 'a', 'A', 'e', 'j'}